body{
    background-color:black;
}
.body_header{
    background-color:black;
    margin: 0 auto;
    width: 1284.5px;
}
.body_chest{
    background-color:black;
    margin: 0 auto;
    width: 1284.5px;
}
.body_footer{
    background-color: black;
    margin: 0 auto;
    width: 1284.5px;
}
