body{
    background-color:black;
}
.body_header{
    background-color:black;
    margin: 0 auto;
    width: 1284.5px;
}
.body_chest{
    background-color:black;
    margin: 0 auto;
    width: 1284.5px;
}
.body_footer{
    background-color: black;
    margin: 0 auto;
    width: 1284.5px;
}
.like-button{
    background-color: black;
    color: white;
    padding: 4px;
    width: 81px;
    border: solid 1px gray;
    transition: background-color ease 0.3s;
  }
  
  .like-button:hover{
      background-color: rgb(48, 48, 48);
  }
  
  .emoji-content{
      background-color: white;
      border: solid 1px #3f3c3c;
      border-radius: 11pc;
      padding: 1px;
      width: 60%;
      position: relative;
      right: -19px;
  }
  .emoji-display{
    
      width: 31px;
      margin-bottom: -2px;
  }
  
  .show-emojis{
      background-color: blue;
  }
  
  .show-emojis:hover .emoji-content{
     background-color:red;
      }
  