body{
    background-color:rgb(47, 47, 47);
}
.body_header{
    background-color:rgb(50, 50, 50);
    margin: 0 auto;
    width: 1284.5px;
}
.body_chest{
    background-color:black;
    margin: 0 auto;
    width: 1284.5px;
}
.body_footer{
    background-color: black;
    margin: 0 auto;
    width: 1284.5px;
}
